body{
  margin: auto;
  /* background-color: rgb(200, 203, 205); */
  background-image: url(img.jpg);
  background-position: center;
  background-size: cover;
}
.container{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 0.6fr 1fr;
  grid-template-rows: 0.3fr 0.4fr 0.3fr 0.8fr 0.4fr;
  grid-template-areas: 
  "header header header"
  "mid-text mid-text mid-text"
  "mid-text2 mid-text2 mid-text2"
  "fbutton sbutton tbutton"
  "footer footer footer";
  grid-gap: .3rem;
}
.header{
  grid-area: header;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  font-weight: bold;
  width: 100%; 
  border: 0px solid #0b0b0b; 
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}
.mid-text{
  grid-area: mid-text;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
  font-weight: bold; 
  line-height: 50px;
}
.mid-text2{
  grid-area: mid-text2;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
}
.fbutton{
  grid-area: fbutton;
}
.sbutton{
  grid-area: sbutton;
}
.tbutton{
  grid-area: tbutton;
}
footer{
  grid-area: footer;
  margin-top: 80px;
  margin-left: 5px;
}
.saiyan{
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.button1,.button3{
  margin-top: 50px;
  width: 35%;
  height: 120px;
  font-size: 180%;
  font-family: Arial;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  cursor: pointer;
  transition:box-shadow 0.15s;
  box-shadow: 10px 10px 10px rgba(47, 46, 46, 0.668);
}
.button1{
 margin-left: 65%;
}
.button2{
  margin-left: 22%;
  margin-top: 50px;
  width: 55%;
  height: 120px;
  font-size: 180%;
  font-family: Arial;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  cursor: pointer;
  transition:box-shadow 0.15s;
  box-shadow: 10px 10px 10px rgba(108, 107, 107, 0.6);
}
.button3{
  margin-left: 0;
}
.button1:hover{
  opacity: 0.9;
}
.button2:hover{
  opacity: 0.9;
}
.button3:hover{
  opacity: 0.9;
}

.button1:active{
  opacity: 0.4;
}
.button2:active{
  opacity: 0.4;
}
.button3:active{
  opacity: 0.4;
}

@media only screen and (max-width: 400px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.3fr 0.5fr 0.4fr 0.8fr 0.2fr;
  grid-template-areas: 
  "header header header"
  "mid-text mid-text mid-text"
  "mid-text2 mid-text2 mid-text2"
  "fbutton sbutton tbutton"
  "footer footer footer";
  grid-gap: .3rem;
  }
  .header{
    font-size: 24px;
  }
  .mid-text{
    font-size: 24px;
  }
  .mid-text2{
    font-size: 18px;
    
  }
  .fbutton{
    grid-area: fbutton;
  }
  .sbutton{
    grid-area: sbutton;
  }
  .tbutton{
    grid-area: tbutton;
  }
  footer{
    grid-area: footer;    
  }
  .text1{
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.682);
  }
  .text2{
    font-family: Arial;
    text-shadow: 10px 10px 10px rgb(0, 0, 0);
  }
  .button1, .button2, .button3 {
  margin-top: 20px;
  height: 90px;
  font-size: 24px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.85);
  }
  .button1{
    margin-left: 8%;
  }
  .button2{
    margin-left: 4%;
  }
  .button3{
    margin-left: 1%;
  }
}
